body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 28px;
  color: #696969;
  background-color: #131313;
  padding: 0px;
  margin: 0px;
  text-align: center;

  cursor: default !important;
  :hover {
    cursor: default !important;
  }

  .noselect
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.main {
  width: 350px;
  height: 75px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.footer {
  color: #151515;
  margin: 95vh auto 0;
  height: 5%;
  width: 250px;
  font-size: 0.6em;
  color: #3f3f3f;
}