body {
  background-color: @grey;
  padding: 0;
  margin: 0;
  min-width: 530px;

  .header {
    //min-width: 530px;
    width: 100%;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;

    &-bottom {
      z-index: 900;
      position: absolute;
      width: 100%;
      height: @header-bottom-height;
      background-color: @grey-light;
      .material-card-shadow(3px, none);
    }

    .logo {
      &-bg {
        z-index: 999;

        position: fixed;
        width: 38.571428571%; // 21/70 rem
        min-width: 21rem;
        height: @header-height;
        background-color: @grey-dark;
        .material-card-shadow(2px, none);

        @media(max-width: 1127px) {
          width: 100%;
          min-width: 0;
        }
      }

      &-wrapper {
        z-index: 1000;
        position: relative;

        .header-text(@brand-pink);

        width: 55.5%;
        margin-left: auto;
        margin-right: auto;

        .title:before {
          // Logo picture
          position: absolute;
          right: 100%;
          content: url('assets/graphics/logo.png');

          @media(max-width: 1127px) {
            display:none;
          }
        }

        .title .navigation-menu {
          // Navigation menu on narrow screen
          display:none;
          color: @brand-green;
          cursor: pointer;
          &:hover {
            color: @brand-blue;
            &:active {
              color: darken(@brand-blue, 5%);
            }
          }

          //background-color: #00e5ff;
          width:2rem;
          height:2rem;
          margin-right: 2rem;
          position: absolute;
          right: 0;
          @media (max-width: 1127px) {
            display: inline-block;
          }
          content: '';

          @media (max-width: 529px) {

          }
        }

        @media(max-width: 1127px) {
          text-align: center;
          width: 100%;
        }
        @media(max-width: 529px) {
          text-align: initial;
        }
      }
    }

    .header-text(@color) {
      height: 2.5rem;
      padding-top: 1.5rem;
      padding-left: 1rem;
      color: @color;
      font: 2rem/2rem Federo, serif;
    }

    .locator {
      .header-text(@brand-orange);

      &-bg {
        @media(max-width:1127px) {
          display:none;
        }
        z-index: 999;
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: @header-height;
        background-color: @grey-dark;
        .material-card-shadow(2px, none);
      }
    }
  }

  .main-wrapper {
    z-index: 500;
    position: relative;
    width: 69rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;

    margin-top: @header-height;
    padding-top: 1rem;

    @media(max-width:1127px) {
      width:46rem;
      padding-right: 1rem;
    }

    @media(max-width: 775px) {
      width: inherit;
    }

    .menu {
      z-index: 0;
      display: inline-block;
      width: @menu-logo-width;
      vertical-align: top;

      .logo {
        width: @menu-logo-width;
        height: @menu-logo-height;
        background-color: @grey-dark;
      }
      .navigator > ul {
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;

        li {
          z-index: 0;

          padding: 0;
          margin: 0;
          list-style-type: none;
          color: @brand-orange;
          a {
            z-index: 0;

            position: relative;
            padding: 0.5rem 1rem;
            display: inline-block;

            &:before {
              content: '>';
              // to make &gt; not to be underlined
              position: absolute;
              left: 0;
            }
          }
        }
      }

      @media(max-width: 1127px) {
        display: none;
      }
    }

    .flow {
      display: inline-block;
      width: 46rem;
      padding-left: 2rem;

      @media(max-width: 1127px) {
        padding-left: 0;
      }
      @media(max-width: 775px) {
        width: 100%;
      }

      .post {
        .material-card-shadow(1px);

        &:hover {
          .material-card-shadow-floating;
          .card {
            border-color: fade(@brand-blue, 50%);
          }
        }

        .card {
          z-index: 200;
          position: relative;
          top: -2.5rem;
          background-color: @grey-dark;
          border-radius: 2px;
          height: 23rem;
          border: 1px solid fade(@brand-green, 50%);
          transition: border-color @material-transition
        }

        .title {
          .material-card-shadow(1px, none);
          z-index: 250;
          position: relative;
          width: 50%;
          margin-left: auto;
          margin-right: auto;
          height: 5rem;
          background: @pink-title;

          @media (max-width: 1752px) {
            //centered by the flow
            margin-left: 10.5vw;
          }
          @media(max-width: 1127px) {
            // centered by the card
            margin-left: auto;
          }
        }
      }
    }

  }
}